MailBot (SQL)/MailBot.UI/Connected Services/AppService/MailBotServicesWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MailBot.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MailBot.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InputConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdInputConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="IdInputType" type="xs:int" />
      <xs:element minOccurs="0" name="IdMessageConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="InputConfigurationDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProcessFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputConfiguration" nillable="true" type="tns:InputConfiguration" />
  <xs:complexType name="ArrayOfInputConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputConfiguration" nillable="true" type="tns:InputConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputConfiguration" nillable="true" type="tns:ArrayOfInputConfiguration" />
  <xs:complexType name="InputSubject">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMessageConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="IdMessageSubject" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputSubject" nillable="true" type="tns:InputSubject" />
  <xs:complexType name="ArrayOfInputSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputSubject" nillable="true" type="tns:InputSubject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputSubject" nillable="true" type="tns:ArrayOfInputSubject" />
  <xs:complexType name="InputType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdInputType" type="xs:int" />
      <xs:element minOccurs="0" name="InputTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InputType" nillable="true" type="tns:InputType" />
  <xs:complexType name="ArrayOfInputType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InputType" nillable="true" type="tns:InputType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInputType" nillable="true" type="tns:ArrayOfInputType" />
  <xs:complexType name="MessageConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachedFiles" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BlindCopyRecipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyRecipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomizedQuery" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdInputType" type="xs:int" />
      <xs:element minOccurs="0" name="IdMessageConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Recipients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageConfiguration" nillable="true" type="tns:MessageConfiguration" />
  <xs:complexType name="ArrayOfMessageConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageConfiguration" nillable="true" type="tns:MessageConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageConfiguration" nillable="true" type="tns:ArrayOfMessageConfiguration" />
  <xs:complexType name="MessageLayout">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdInputConfiguration" type="xs:int" />
      <xs:element minOccurs="0" name="IdMessageLayout" type="xs:int" />
      <xs:element minOccurs="0" name="IdMessageStructure" type="xs:int" />
      <xs:element minOccurs="0" name="MessageText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidFrom" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidTo" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageLayout" nillable="true" type="tns:MessageLayout" />
  <xs:complexType name="ArrayOfMessageLayout">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageLayout" nillable="true" type="tns:MessageLayout" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageLayout" nillable="true" type="tns:ArrayOfMessageLayout" />
  <xs:complexType name="MessageStructure">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdMessageStructure" type="xs:int" />
      <xs:element minOccurs="0" name="IndexLocation" type="xs:int" />
      <xs:element minOccurs="0" name="MessageStructureDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Signature" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserCreate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserUpdate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageStructure" nillable="true" type="tns:MessageStructure" />
  <xs:complexType name="ArrayOfMessageStructure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageStructure" nillable="true" type="tns:MessageStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageStructure" nillable="true" type="tns:ArrayOfMessageStructure" />
</xs:schema>